body, html {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: #1e40af;
    width: 100%;
    text-align: center;
    grid-row: 1;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: sans-serif;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-row: 2 / 5;
    justify-self: center;

    background-color: pink;
    height: 85%;
    width: 45%;
    margin-top: 50px;
}

.cell {
    border: 1px solid black;
}