body, html {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: #1e40af;
    width: 100%;
    text-align: center;
    grid-row: 1;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: sans-serif;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-row: 2 / 5;
    justify-self: center;

    height: 70%;
    width: 35%;
    margin-top: 50px;
}

.cell {
    border: 5px solid black;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}